<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tenant Management</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container text-center mt-3">
      <h1 class="display-4">Tenant Management System</h1>
    </div>

    <hr class="my-4" />
    <!-- 	<div class="container py-2" id="parent-div">
		<div class="container my-4" id="main-div">
			<div class="row">
				<div class="col-md-8 mx-auto">
					<h4 class="text-center head">Create Tenant</h4>
					<hr />
					<form action="/addTenant" method="post"
						class="mb-4 d-flex align-items-end">
						<label for="tenantName" class="mr-2" style="white-space: nowrap;">Tenant
							Name:</label> <input type="text" id="tenantName" name="tenantName"
							class="form-control" required>
						<button type="submit" id="create-tan" class="btn btn-primary ml-2"
							title="Create Tenant" style="white-space: nowrap;">Create
							Tenant</button>
					</form>
				</div>

				<div class="px-0 pb-2 col-10 card text-center mx-auto" id="gc-div">
					<div class="card-header">
						<h5 class="card-title">Global Configuration</h5>
					</div>
					<div class="card-body">
						<ul class="list-group mt-3 px-2 col-8 mx-auto">
							<li th:each="bankStatusEntry : ${bankStatusMap.entrySet()}"
								class="list-group-item d-flex justify-content-between align-items-center row">
								<span th:text="${bankStatusEntry.key}" style="font-weight: 500;">Bank
									Name</span> <span class="bank-status-toggle badge badge-pill col-2"
								th:classappend="${bankStatusEntry.value} ? 'badge-success' : 'badge-secondary'"
								th:attr="data-bank-name=${bankStatusEntry.key}, data-bank-status=${bankStatusEntry.value}"
								th:onclick="'toggleBankStatus(this)'" data-toggle="tooltip"
								data-placement="top" title="Toggle Bank Status"></span> <select
								class="form-control ml-4 col-9"
								th:id="'status-' + ${bankStatusEntry.key}"
								onchange="updateGlobalBankStatus(this)">
									<option value="true" th:selected="${bankStatusEntry.value}">Active</option>
									<option value="false" th:selected="${!bankStatusEntry.value}">Inactive</option>
							</select>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<h4 class="text-center head">Tenants</h4>
		<hr>

		<div class="container mt-4">
			<div
				class="row d-flex justify-md-content-around justify-content-center align-items-center">
				<div th:each="tenant : ${tenants}"
					class="col-lg-4 col-md-6 col-10 mb-4 d-flex justify-content-center align-items-center px-0">
					<div class="card custom-card" style="width: 18rem !important;">
						<div class="card-header custom-card-header">
							<h5 class="card-title" th:text="${tenant.tenantName}">Tenant
								Name</h5>
						</div>
						<div
							class="card-body d-flex justify-content-center align-items-center flex-column mx-1"
							style="height: 25rem;">
							<div style="height: 12.5rem">
								<form th:action="@{'/addBank/' + ${tenant.tenantId}}"
									method="post">
									<label>Available Banks:</label>
									<div class="form-check" th:each="bankOption : ${bankOptions}">
										<input type="checkbox" class="form-check-input"
											th:id="${'bank-' + bankOption + tenant.tenantId}"
											th:name="bankOptions" th:value="${bankOption}"> <label
											class="form-check-label" th:for="${'bank-' + bankOption}"
											th:text="${bankOption}"></label>
									</div>
									<button type="submit" class="btn btn-outline-primary mt-2">+
										Add Selected Banks</button>
								</form>
							</div>
							<div class="my-3 px-1 py-2"
								style="max-height: 12.5rem; overflow: auto;">
								<ul class="list-group mt-3">
									<li th:each="bank : ${tenant.banks}"
										class="list-group-item d-flex justify-content-between align-items-center">
										<span th:text="${bank.bankName}" style="font-weight: 500;">Bank
											Name</span> <span class="bank-status-toggle badge badge-pill"
										th:classappend="${bank.status} ? 'badge-success' : 'badge-secondary'"
										th:attr="data-bank-name=${bank.bankName}, data-bank-status=${bank.status}"
										th:onclick="'toggleBankStatus(this)'"></span> <select
										class="form-control ml-3"
										th:id="'status-' + ${bank.bankName}+ '-'+${tenant.tenantId}"
										th:attr="data-tenant-id=${tenant.tenantId}"
										onchange="updateBankStatus(this)">

											<option value="true"
												th:id="'status-' + ${bank.bankName}+ '-'+${tenant.tenantId}+'-1'"
												th:selected="${bank.status}">Active</option>
											<option value="false"
												th:id="'status-' + ${bank.bankName}+ '-'+${tenant.tenantId}+'-2'"
												th:selected="${!bank.status}">Inactive</option>

									</select>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	 -->

    <div class="py-3 rounded mx-auto container" style="background: skyblue">
      <div class="row">
        <div class="col-12">
          <h4 class="text-center head">Create Aggregator</h4>
          <hr />
          <form action="/addAggregator" method="post">
            <div class="form-group">
              <label
                for="aggregatorName"
                class="mr-2"
                style="white-space: nowrap"
                >Aggregator Name:</label
              >
              <input
                type="text"
                id="aggregatorName"
                name="aggregatorName"
                class="form-control"
                required
              />
            </div>
            <label>Available Banks:</label>
            <div class="flex flex-column">
              <div class="form-check" th:each="bankOption : ${bankOptions}">
                <input
                  type="checkbox"
                  class="form-check-input"
                  th:name="bankOptions"
                  th:value="${bankOption.bankName}"
                />
                <label
                  class="form-check-label"
                  th:for="${bankOption.bankName}"
                  th:text="${bankOption.bankName}"
                ></label>
              </div>
            </div>
            <button
              type="submit"
              id="create-agg"
              class="btn btn-primary ml-2"
              title="Create Aggregator"
              style="white-space: nowrap"
            >
              Create Aggregator
            </button>
          </form>
        </div>
      </div>

      <div class="row mt-4">
        <h4 class="text-center head">Available Aggregators</h4>
        <div
          class="card col-3 mx-1"
          th:each="aggregators : ${accountAggregators}"
          style="height: 20rem"
        >
          <div class="card-header" th:text="${aggregators.name}">
            Aggregator Name
          </div>
          <ul
            class="list-group list-group-flush"
            style="height: 18rem; overflow: auto"
          >
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
              th:each="bank : ${aggregators.banks}"
            >
              <span th:text="${bank.bankName}" style="font-weight: 500"
                >Bank</span
              >
              <form th:action="@{/handleDropdownChange}" method="post">
                <select
                  class="form-control ml-4 col-9"
                  name="selectedValue"
                  onchange="this.form.submit()"
                >
                  <option value="true" th:selected="${bank.globalStatus==true}">
                    Active
                  </option>
                  <option
                    value="false"
                    th:selected="${bank.globalStatus==false}"
                  >
                    Inactive
                  </option>
                </select>
                <input
                  type="hidden"
                  name="aggregators_id"
                  th:value="${aggregators.id}"
                />
                <input type="hidden" name="bank_id" th:value="${bank.bankId}" />
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- create tenant -->
      <div class="row">
        <div class="col-12">
          <h4 class="text-center head">Create Tenant</h4>
          <hr />
          <form action="/addTenant" method="post">
            <div class="form-group">
              <label for="tenantName" class="mr-2" style="white-space: nowrap"
                >Tenant Name:</label
              >
              <input
                type="text"
                id="tenantName"
                name="tenantName"
                class="form-control"
                required
              />
              <button
                type="submit"
                id="create-tan"
                class="btn btn-primary ml-2 mt-2"
                title="Create Tenant"
                style="white-space: nowrap"
              >
                Create Tenant
              </button>
            </div>
          </form>
        </div>
      </div>

      <!-- Tenant list -->
      <div
        class="row d-flex justify-md-content-around justify-content-center align-items-center"
      >
        <div
          th:each="tenant : ${tenants}"
          class="col-lg-4 col-md-6 col-10 mb-4 d-flex justify-content-center align-items-center px-0"
        >
          <div class="card custom-card" style="width: 18rem !important">
            <div class="card-header custom-card-header">
              <h5 class="card-title" th:text="${tenant.tenantName}">
                Tenant Name
              </h5>
            </div>
            <div class="card-body">
              <form
                method="POST"
                th:action="@{'/addAggregatorInTenant/' + ${tenant.tenantId}}"
              >
                <h5>Add aggregator</h5>
                <div class="form-group">
                  <select id="aggregatorId" name="aggregatorId">
                    <option selected>Select Aggregator</option>
                    <option
                      th:each="aggregator : ${accountAggregators}"
                      th:value="${aggregator.id}"
                      th:text="${aggregator.name}"
                    ></option>
                  </select>
                </div>

                <!-- List of checkbox of Banks -->
                <div id="associatedBanks"></div>

                <button type="submit" class="btn btn-primary">
                  Add Aggregator
                </button>
              </form>

              <!-- Added Aggregators -->
              <div class="row mt-4">
                <h4 class="text-center head">Available Aggregators</h4>
                <div
                  class="card col-12 mx-1"
                  th:each="aggregators : ${tenant.accountAggregators}"
                  style="height: 20rem"
                >
                  <div class="card-header" th:text="${aggregators.name}">
                    Aggregator Name
                  </div>
                  <ul
                    class="list-group list-group-flush"
                    style="height: 18rem; overflow: auto"
                  >
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center"
                      th:each="bank : ${tenant.aggregatorBanks[aggregators.id]}"
                    >
                      <span th:text="${bank.bankName}" style="font-weight: 500"
                        >Bank</span
                      >
                      <form th:action="@{/handleDropdownChange}" method="post">
                        <select
                          class="form-control ml-4 col-9"
                          name="selectedValue"
                          onchange="this.form.submit()"
                        >
                          <option
                            value="true"
                            th:selected="${bank.globalStatus==true}"
                          >
                            Active
                          </option>
                          <option
                            value="false"
                            th:selected="${bank.globalStatus==false}"
                          >
                            Inactive
                          </option>
                        </select>
                        <input
                          type="hidden"
                          name="aggregators_id"
                          th:value="${aggregators.id}"
                        />
                        <input
                          type="hidden"
                          name="bank_id"
                          th:value="${bank.bankId}"
                        />
                      </form>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script th:src="@{/script.js}"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script>
      document
        .getElementById("aggregatorId")
        .addEventListener("change", function () {
          var selectedOption = this.value;
          fetch("/getBanks?selected=" + selectedOption)
            .then((response) => response.json())
            .then((banks) => {
              console.log(banks);
              var associatedBanks = document.getElementById("associatedBanks");
              associatedBanks.innerHTML = ""; // Clear previous items
              banks.forEach(function (bank) {
                var ckb = document.createElement("INPUT");
                ckb.setAttribute("type", "checkbox");
                ckb.setAttribute("class", "form-check-input");
                ckb.setAttribute("name", "bankOptions");
                ckb.setAttribute("value", bank.bankId);
                var lbl = document.createElement("LABEL");
                var t = document.createTextNode(bank.bankName);
                lbl.appendChild(t);
                var itemDiv = document.createElement("div");
                itemDiv.setAttribute("class", "form-check");
                itemDiv.appendChild(ckb);
                itemDiv.appendChild(lbl);
                associatedBanks.appendChild(itemDiv);
              });
            });
        });
    </script>

    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
